body{
    margin:0px;
    padding:0px;

    background-color: #E2F5FA;
    font-family: sans-serif;
    color: #063643;
    font-weight: 700;
    font-size: 24px;
}

.txtSubtitle {
    font-size: 12px;
}
.txtLight {
    font-size: 12px;
    font-weight: 400;;
}

#divRespiro {
    height: 33px;
}

#divHeader {
    background-color: #F8F8FF;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 17px;

}

.btnMenu{
    width: 40px;
    height: 40px;
}

#scrollPrincipal{
    display: flex;
    justify-content: space-between;
}

.colunaEspacamento{
    width: 10px;
}

#logo{
    position: relative;
    height: auto;
    width: auto;
}

#bannerCentral{
    position: relative;
    align-self: center;
    margin: 100px;
    height: 500px;
    width: 400px;
}

#pslogan{
    text-align: justify;
    font-size: 24px;
    width: 218px;
}

#imgpets {
    position: absolute;
    top: 40px;
    width: 400px;
    height: auto;
}

#divFooterPindorama{
    background-color: white;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 29px
}

#divFooterUnect {
    background-color: #063643;
    height: 80px;
    font-size: 12px;
    color: #E2F5FA;
    align-content: center;
    text-align: center;
}