:root {
    --azul-escuro-1: #063643;
    --azul-escuro-2: #0F637A;
    --quase-branco-1: #F8F8FF;
    --azul-claro-1: #E2F5FA;
    --azul-claro-2: #7ccbe0;
    --azul-400: #89C5D5;
    --azul-600: #63B3C9;
    --azul-1100: #063643;
}

img {
    cursor: default;
}

p {
    cursor: default;
    margin: 0;
}

body {
    margin: 0px;
    padding: 0px;

    background-color: var(--azul-claro-1);
    font-family: Inter;
    color: var(--azul-escuro-1);
    font-weight: 700;
    font-size: 24px;
}

.txtSubtitle {
    font-size: 12px;
    font-style: bold;
}

.txtLight {
    font-size: 12px;
    font-weight: 400;
}

.txtSection {
    font-size: 24px;
    font-family: Poppins;
    font-style: bold;
    cursor: default;
}

.txtSection-2 {
    font-size: 28px;
    font-family: Poppins;
    font-style: bold;
    cursor: default;
}

header {
    position: sticky;
    top: 0px;
    z-index: 1;
}

#divHeader {
    margin-top: 40px;
    background-color: var(--quase-branco-1);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 17px;

}

.btnPadrao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    background-color: var(--azul-escuro-2);
    color: var(--quase-branco-1);
    align-self: center;
    text-align: center;
    font-size: 15px;
    font-family: Poppins;
    border-radius: 4.44px;
    cursor: pointer;
    transition-duration: 0.25s;
}

.btnPadrao:hover {
    transform: scale(1.1);
    background-color: var(--azul-claro-2);
    color: var(--azul-escuro-1);
}

.btnMenu {
    width: 40px;
    height: 40px;
}

#scrollPrincipal {
    display: flex;
    justify-content: space-between;
}

.colunaEspacamento {
    width: 1px;
}

#colunaPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    position: relative;
    height: auto;
    width: auto;
}

#bannerCentral {
    position: relative;
    align-self: center;
    height: 200px;
    width: 303px;
}

#btnContato {
    width: 170px;
    height: 40px;
    margin-bottom: 1.125rem;
}

#elipse1 {
    position: absolute;
    top: -90px;
    left: -20px;
    width: 350px;
    height: 300px;
    z-index: -1;
}

#pslogan {
    position: absolute;
    text-align: justify;
    font-size: 24px;
    width: 220px;
}

#imgpets {
    position: absolute;
    top: 50px;
    left: 35px;
    width: 303px;
    height: auto;
}

#tituloAvaliacoes {
    margin-top: 15px;
}

.imgAvaliador {
    width: 52px;
    height: 52px;
    margin: 0px 20px;
}

.avaliacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px;
    width: 80%;
}

.innerAvaliacao {
    height: 80px;
}

.nomeAvaliador {
    font-size: 13px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

.txtAvaliacao {
    font-size: 11px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

#botoesAvaliacao {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.btnAvaliacao {
    width: 40px;
    cursor: pointer;
}

#btnAnteriorAval {
    transform: scale(-1);
}

#numeroAval {
    font-family: Poppins;
}

footer {
    font-family: Poppins;
}

#divFooterPindorama {
    margin-top: 50px;
    background-color: white;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

#footerServicos {
    margin: 0 20px;
}

#footerInstitucional {
    margin: 0 20px;
}

#divFooterUnect {
    background-color: var(--azul-escuro-1);
    height: 80px;
    font-size: 12px;
    color: var(--azul-claro-1);
    align-content: center;
    text-align: center;
    font-style: bold;
}

.bg-image {
    background-image: url(../assets/fundo-animais-icons.png);
    background-size: contain;
}

#quemSomos {
    width: 24rem;
    height: 22.25rem;
    background-color: var(--azul-400);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img {
        padding-bottom: 2rem;
    }

    p {
        width: 22rem;
        padding-bottom: 1.25rem;
    }
}

.paddingtitulo {
    padding: 1.875rem 0rem 1.25rem 0rem;
}

.txtSmall {
    font-weight: 400;
    font-size: 0.875rem;
    cursor: default;
}

.txtMedium {
    font-weight: 700;
    font-size: 1rem;
    cursor: default;
}

#servicos {
    width: 24rem;
    height: 20.625rem;
    background-color: var(--azul-600);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;

    p {
        padding: 1.25rem 0rem 1.375rem 0rem;
        width: 22rem;
    }
}

.tamCaixa {
    width: 21rem;
}

.btnAgendar {
    width: 13rem;
    height: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    background-color: var(--quase-branco-1);
    color: var(--azul-escuro-1);
    align-self: center;
    text-align: center;
    font-size: 15px;
    font-family: Poppins;
    border-radius: 4.44px;
    cursor: pointer;
    transition-duration: 0.25s;
}

.btnAgendar:hover {
    background-color: var(--azul-escuro-1);
    color: var(--quase-branco-1);
    transform: scale(1.1);
}

.gato-bg {
    position: absolute;
    bottom: 0;
    right: 3.25rem;
    pointer-events: none;
    width: 7.5rem;
}

#headerProfissionais {
    width: 24rem;
    height: 6rem;
    background-color: var(--azul-claro-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionProfissionais {
    width: 24rem;
    height: 30.81rem;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: start;
    background-color: var(--quase-branco-1);
}

.cardProfissional {
    width: 10.375rem;

    img {
        display: block;
    }
}

.descricaoProfissional {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nomeProfissional {
    color: var(--azul-1100);
    font-size: 0.93rem;
    font-weight: 500;
}

.especialidadeProfissional {
    color: var(--azul-1100);
    font-size: 0.625rem;
    font-weight: 400;
}

.teste {
    padding-bottom: 2rem;
}